/* ==========================================================================
   Containers
========================================================================== */

#evg-recipe-product-recommendations {
    margin: 20px auto;
    max-width: 1440px;
    width: 100%;
    color: #565656;
    font-family: Source Sans Pro, sans-serif;
}

#evg-recipe-product-recommendations .evg-container {
    position: relative;
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    height: 100%;
    width: auto;
}


/* ==========================================================================
   Headers
========================================================================== */

#evg-recipe-product-recommendations .evg-h3 {
    padding: 0;
    margin: 0 0 .5rem;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

#evg-recipe-product-recommendations .evg-header {
    padding: 10px 0;
    margin: 1rem 0 2rem;
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
}


/* ==========================================================================
   Product Recs
========================================================================== */

#evg-recipe-product-recommendations .evg-product-recommendation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    width: auto;
    text-align: center;
}

#evg-recipe-product-recommendations .evg-product-image {
    height: auto;
    width: 80%;
}

#evg-recipe-product-recommendations .evg-product-details {
    padding: 1em 0;
    height: 100%;
    width: 100%;
}

#evg-recipe-product-recommendations .evg-product-name--wrapper {
    display: flex;
    height: 3rem;
}

#evg-recipe-product-recommendations .evg-product-name {
    margin: auto auto 0;
    min-height: 2rem;
    max-width: 90%;
    color:#393939;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-product-description {
    max-height: 2rem;
    width: 95%;
    font-size: .5rem;
    line-height: 1rem;
    overflow: hidden;
}

#evg-recipe-product-recommendations .evg-product-price {
    margin-top: .5em;
}

#evg-recipe-product-recommendations .evg-hide {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
}


/* ==========================================================================
   Media Queries
========================================================================== */

@media screen and (max-width: 991px) {
    #evg-recipe-product-recommendations .evg-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 720px;
    }

    #evg-recipe-product-recommendations .evg-product-recommendation {
        margin-bottom: 2em;
        max-width: 50%;
    }
}
