/* ==========================================================================
   Containers
========================================================================== */

#evg-recipe-product-recommendations {
    margin: 2rem auto;
    max-width: 1440px;
    width: 100%;
    color: #565656;
    font-family: Source Sans Pro, sans-serif;
}

#evg-recipe-product-recommendations .evg-container {
    position: relative;
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    height: 100%;
    width: auto;
}


/* ==========================================================================
   Headers
========================================================================== */

#evg-recipe-product-recommendations .evg-h3 {
    padding: 0;
    margin: 0 0 .5rem;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.2;
}

#evg-recipe-product-recommendations .evg-header {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
}


/* ==========================================================================
   Product Recommendations
========================================================================== */

#evg-recipe-product-recommendations .evg-product-recommendation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    width: auto;
    text-align: center;
}

#evg-recipe-product-recommendations .evg-product-image {
    height: auto;
    width: 80%;
}

#evg-recipe-product-recommendations .evg-product-details {
    padding: .5rem 0;
    min-height: 9rem;
    height: 100%;
    width: 100%;
}

#evg-recipe-product-recommendations .evg-product-name {
    margin: 0 auto auto;
    min-height: 1.75rem;
    max-width: 90%;
    display: block;
    color:#393939;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-product-description {
    margin: 0 auto;
    width: 95%;
    font-size: .5rem;
    line-height: 1rem;
    overflow: hidden;
}

#evg-recipe-product-recommendations .evg-product-description,
#evg-recipe-product-recommendations .evg-product-price,
#evg-recipe-product-recommendations .evg-product-rating {
    margin-bottom: .5rem;
}

#evg-recipe-product-recommendations .evg-product-rating {
    margin-right: auto;
    margin-left: auto;
    width: 5rem;
    text-align: left;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-star-empty,
#evg-recipe-product-recommendations .evg-star-full {
    /* font-size: 16px; */
    text-align: left;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-star-empty {
    color: #dee3e8;
}

#evg-recipe-product-recommendations .evg-star-fill {
    position: relative;
    margin-top: -1.4em;
    color: #ce763c;
    overflow: hidden;
}

#evg-recipe-product-recommendations .evg-hide {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
}


/* ==========================================================================
   Media Queries
========================================================================== */

@media screen and (max-width: 991px) {
    #evg-recipe-product-recommendations .evg-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 720px;
    }

    #evg-recipe-product-recommendations .evg-product-recommendation {
        margin-bottom: 2em;
        max-width: 50%;
    }
}
