/* ==========================================================================
   Containers
========================================================================== */

#evg-recipe-product-recommendations {
    margin: 2rem auto;
    width: 100%;
    max-width: 1440px;
    color: inherit;
    font-family: inherit;
}

#evg-recipe-product-recommendations .evg-container {
    position: relative;
    z-index: 2;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;

    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    width: auto;
    height: 100%;
}


/* ==========================================================================
   Headers
========================================================================== */

#evg-recipe-product-recommendations .evg-h3 {
    padding: 0;
    margin: 0 0 .5rem;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.2;
}

#evg-recipe-product-recommendations .evg-header {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
}


/* ==========================================================================
   Product Recommendations
========================================================================== */

#evg-recipe-product-recommendations .evg-product-recommendation {
    padding: 0 .5rem;
    margin: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    width: auto;
    text-align: center;
}

#evg-recipe-product-recommendations .evg-product-recommendation > a,
#evg-recipe-product-recommendations .evg-product-recommendation .evg-product-details {
    background-color: #ffffff;
}

#evg-recipe-product-recommendations .evg-product-image {
    width: 80%;
    height: auto;
}

#evg-recipe-product-recommendations .evg-product-details {
    padding: .5rem 0;
    width: 100%;
    height: 100%;
    min-height: 9rem;
}

#evg-recipe-product-recommendations .evg-product-name {
    margin: auto auto .25rem;
    display: block;
    max-width: 90%;
    min-height: 2.5rem;
    color:#393939;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-product-description {
    margin: 0 auto;
    width: 95%;
    max-height: 2rem;
    overflow: hidden;
    font-size: .85rem;
    line-height: 1rem;
}

#evg-recipe-product-recommendations .evg-product-description,
#evg-recipe-product-recommendations .evg-product-price,
#evg-recipe-product-recommendations .evg-product-rating {
    margin-bottom: .5rem;
}

#evg-recipe-product-recommendations .evg-product-rating {
    margin-right: auto;
    margin-left: auto;
    width: 5rem;
    text-align: left;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-star-empty,
#evg-recipe-product-recommendations .evg-star-full {
    text-align: left;
    text-decoration: none;
}

#evg-recipe-product-recommendations .evg-star-empty {
    color: #dee3e8;
    background-color: #ffffff;
}

#evg-recipe-product-recommendations .evg-star-fill {
    position: relative;
    margin-top: -1.4em;
    overflow: hidden;
    color: #ce763c;
    background-color: transparent;
}

#evg-recipe-product-recommendations .evg-hide {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
}


/* ==========================================================================
   Media Queries
========================================================================== */

@media screen and (max-width: 991px) {
    #evg-recipe-product-recommendations .evg-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 720px;
    }

    #evg-recipe-product-recommendations .evg-product-recommendation {
        padding: 1rem 0;
        margin-bottom: 2rem;
        max-width: calc(50% - 1rem) !important;
    }
}

@media screen and (max-width: 767px) {
    #evg-recipe-product-recommendations .evg-container {
        max-width: 540px;
    }
}

@media screen and (max-width: 575px) {
    #evg-recipe-product-recommendations .evg-product-name--wrapper {
        min-height: 4rem;
    }

    #evg-recipe-product-recommendations .evg-product-name {
        min-height: 3rem;
    }
}
