#evg-einstein-decisions-banner {
    text-align: center;
}

#evg-einstein-decisions-banner .evg-promotion-link,
#evg-einstein-decisions-banner .evg-promotion-img {
    max-width: 100%;
}

#evg-einstein-decisions-banner .evg-promotion-img {
    object-fit: contain;
}
