/* ==========================================================================
   Containers
========================================================================== */

#evg-recipe-content-recommendations {
    padding: 1em 0;
    width: 100%;
    color: inherit; 
    font-family: inherit;
}

#evg-recipe-content-recommendations .evg-container {
    position: relative;
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    max-width: 960px;
    width: auto;
    margin: 0 auto;
}

#evg-recipe-content-recommendations .evg-card-container {
    width: 50%;
}

/* ==========================================================================
   Headers
========================================================================== */

#evg-recipe-content-recommendations .evg-h3 {
    padding: 0;
    margin: 0 0 .5rem;
    color: inherit;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

#evg-recipe-content-recommendations .evg-header {
    margin: 1rem 0 2rem;
    width: 100%;
    text-align: center;
}

/* ==========================================================================
   Content Recommendations
========================================================================== */

#evg-recipe-content-recommendations .evg-card {
    margin: 1.5rem;
}

#evg-recipe-content-recommendations .evg-card-image {
    width: 100%;
    height: auto;
    display: block;
}

#evg-recipe-content-recommendations .evg-card-body {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

#evg-recipe-content-recommendations .evg-card-title {
    margin: auto auto 0;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-decoration: none;
    margin-bottom: .75rem;
    overflow: hidden;
}

#evg-recipe-content-recommendations .evg-card-text {
    height: 8rem;
    overflow: hidden;
    line-height: 2rem;
    font-size: 1.25rem;
}

#evg-recipe-content-recommendations .evg-hide {
    display: none;
    height: 0;
    width: 0;
    visibility: hidden;
}

/* ==========================================================================
   Media Queries
========================================================================== */

@media screen and (max-width: 575px) {
    #evg-recipe-content-recommendations .evg-card-title {
        font-size: 1.25rem;
    }

    #evg-recipe-content-recommendations .evg-card-text {
        font-size: 1rem;
    }

    #evg-recipe-content-recommendations .evg-h3 {
        font-size: 1.5rem;
        padding: 0;
        margin: 0 0 .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }
}
